/* utilities */

.container-xxxl {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.bg-yellow {
  background-color: #ffdf00;
}

.button-width {
  width: 350px;
}

/* search */

.search-box{
    width:260px;
}

.search-box:has(.collapse.show) {
    border: 1px solid #fff;
}

.search-box .btn {
  position: absolute;
  right: 0;
  border: none;
}

.search-box input {
  background-color: #ffdf00;
  outline: none;
  padding: 10px 0px 10px 10px;
}

/* offcanvas */
.offcanvas-top {
  top:80px !important; 
  height: 820px !important;
}

.offcanvas-body {
  overflow-y: scroll !important;
}

/* menu show-dismiss */
.menu-close{
    display:none;
}

body:has(.offcanvas.show) .menu-open{
    display:none;
}

body:has(.offcanvas.show) .menu-close{
    display:inline-block;
}

/* fix carousel positioning */
.carousel-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
}

/* carousel-indicators */
.carousel-indicators [data-bs-target] {
  width: 12px;              
  height: 12px;
  border-radius: 50%;       
  background-color: #00000000; 
  border: 3px solid #ffffff;   
}

.carousel-indicators .active {
  background-color: #ffffff;
}

/* fit image */
.center-image {
  object-fit: cover;
  object-position: center;
}


/* carousel title */
.hero-title {
  font-size: 96px;
  height: 150px;
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 72px;
    height: 120px;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 54px;
  }

  .button-width {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .button-width {
    width: 200px;
  }

  .promotional-images {
    padding: 0px;
  }
}

@media (max-width: 375px) {
  .hero-title {
    font-size: 40px;
  }
}




